/* Container Styles */
.container {
    width: 400px;
    height: 200px; 
    padding: 20px;
    color: black;
    background-color: rgb(188, 214, 225);
    margin: 0 auto;
    margin-top:20%;
    text-align: center;
    border: 2px  rgb(3, 20, 27); 
    border-radius: 10px;
    justify-content: center;
    box-sizing: border-box;
    border-style: double;
  }
  
  /* Heading Styles */
  .container h2 {
    color: black; /* This line is redundant as the color is already set to black */
  }
  
  /* Button Styles */
  .container button {
    padding: 10px 20px; 
    margin-top: 20px; 
    cursor: pointer;
    border-radius: 5px;
    background-color: #040404; 
    color: white;
    border: none;
  }
  
  .container button:hover {
    opacity: 0.8;
  }
  