body{
    background-color: #002633;
    margin-left: 0px;
    margin-right: 0px;
}
.a{
    
    color: white;
    width: 100%;
    height: 120px;
    margin-top: 0%;
}
.a1{
    float: left;
    margin-left: 10px;
    font-size:xx-large ;
    margin-bottom: 20px;
}
.a2{

    list-style-type: none;
    justify-content:end;
    margin-right:20px;
    display: flex;
    text-decoration: none;
    
    
}
li { 
    
    margin-top: 30px;
    display: inline;
    padding: 22px;
    font-size: medium;
   text-align: center;
   text-decoration: none;
    
}
li a.homei{
    padding: 10px 10px 10px 10px;
    background-color: red;
    color:white;
    text-decoration: none;
    padding: 20px 15px 20px 15px; 
    width: 20px;
    height: 15px;
}
li a{
    text-decoration: none;
    color: rgb(125, 125, 125);
}
 li a:hover{
    background-color: red;
    padding: 15px 15px 15px 15px; 
 }

 .b{
    background-image: url(newpro.jpg);
    height: 600px;
    position: relative;
 }
 .b1{
  background-color: red;
  position: absolute;
  top: 50px;
  color: white;
  font-size: xx-large;
  padding:15px 130px 16px 0px ;
 
 }
 .b3{
    position: absolute;
    top: 140px;
    left: 0px;
    background-color: white;
    color: black;
    margin-top:0px;
    padding:10px 5px 10px 0px;
 }

h5{
    
    font-size: large;
}
.c{
    
    color: white;
    height: 525px;

}
.c1{
    float:left;
}

.ca1{
    display: flex;
    padding: 20px ;
    padding-left:0px;
}

.ca2{
    display:flex;
    padding: 20px;
    padding-left: 0px;

}
.c21{
    background-color: red;
    color-scheme: white;
    height: 250px;
    width: 350px;

    

}
.c22{
    background-color:#005881;
    height: 250px;
    width: 350px;
    margin-left: 20px;
    text-align: center;

}
.c12{
    background-color:#E4A600;
    height: 250px;
    width: 350px;
}
.c34{
    background-color: #00B5A6 ;
    height: 250px;
    width: 350px;
    margin-left: 20px;
}
.c2{
    padding: 20px 0px;
    margin-left: 40px;
}
 .equal{

    width: 100%;
    height: 360px;
    color:white;
    text-align: center;
    padding-top: 20px;
} 
.eql2{
    color:  #7697A2;
    
}
.eql1{
    padding-top: 100px;
    -align: center;
    font-size: x-large;
}

.abt{
    color: black;
}
.abt1
{
    float:left;
    

  
}
.abt2{
    float:right;
    background-color: #005881;
    text-align: left;
    margin-left:10px;
    padding: 0px;
    height:578px;
    width: 710px;
}
p.abt2{
    text-align: left;
}
.top{
    width: 100%;
    height:70%;
    color:white;
    text-align:center;
    padding-top: 30px;
}
.top1{
    padding-top: 100px;
    text-align: center;
    font-size: x-large;
}
.photo{

}
.php1{
    width:40px;
    float: left;
    padding-left: 0px;
}
.php2{
    float: right;
  
}

.php3{
    float: left;
    padding-left: 0px;
} 
.php4{ float:right;
}
.cont{
    width: 100%;
    height: 30px;
    float: left;
    margin-bottom:10px;
    flex: inline;
   
    
}
.cnt1{
    float:left;
    display: flex;
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;
    font-size:25;
    color:white;
    text-align: right;

}
.cont p{
    font-size: medium;
    color: #7697A2;

}
.cnt2{
display: flex;
    padding: 20px 0px;
    margin-left: 30%;
}
.cnt2a{
    background-color: #3b5998 ;
    color: white;
    height: 150px;
    width: 250px;
    align:center;
    padding-top: 45px;
    margin-bottom:10px ;
}
.cnt2b{
    float:left;
    margin-left:30px;
    margin-top:0px;
    margin-bottom:10px;
}
.cnt2c{
    background-color: #bb0000  ;
    color: white;
    height: 150px;
    width: 250px;
    align:center;
    padding-top: 45px;
    margin-left: 30px;
    margin-bottom:10px;
}
.cnt2d{
    background-color:#007bb5;
    color: white;
    height: 150px;
    width: 250px;
    align:center;
    padding-top: 45px;
    margin-left: 30px; 
    margin-bottom:10px;
}

.brk{
    width: 100%;
    height: 30px;
    margin-bottom:10px;
    margin-top:1100px;

}
.brk1{
   position: relative;
   float: left;
   display: inline-flex;
   margin-right: 40px;
   
}
.brk2{
    
    margin-left:0px;
    padding:40px 40px 40px 40px;
    text-align: left;
    float: left;

}
.brk2 p{
    color: #7697A2;
    width:288px;
    height: 153px;
    display:block;
}
.brk2 h3{
    width:288px;
    height:25px;
    color: white;
}
.brk3{
    margin-left:0px;
    padding:40px 40px 40px 40px;
    text-align: left;
    float: left;
}
.brk3 h3{
    width:288px;
    height:25px;
    color: white;
}
.brk4{
    margin-left:0px;
    padding:40px 40px 40px 40px;
    text-align: left;
    float: left;
}
.brk4 h3{
    width:270px;
    height:25px;
    color: white;
}
.brk4 b{
    color: #bb0000;
    font-size: large;
    font-weight:bolder;
    margin-right: 10px;
}
.brk4 p{
    color: #7697A2;
   
}
.brk4 a{
    color: #7697A2;
    text-decoration:none;
}
.brk4 a:hover{
    color:red;
  
}
.rfls{
    margin-top:10px ;
    float:left;
    width: 100%;
}
.rfls p{
    color: #7697A2;
     text-align: center;
   }
   .rfls a{
    color: #7697A2;
    text-decoration:none;
}
.rfls a:hover{
    color:red;
  
}